TELEGRAM_BOT_TOKEN=
GOOGLE_DOCS_URL=https://docs.google.com/document/d/14JsvyU8j2Iu-l1TcRgZEqb3RTOEV3FWNUCUus8ekrTw/edit?usp=sharing
TELEGRAM_ADMIN_IDS=540311740
REALTORS_CONFIG_PATH=config/realtors.json
SUBSCRIBERS_PATH=data/subscribers.json
POLL_INTERVAL_SECONDS=3
